<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>Ажлын шинэ байранд орсон иргэн</h5>
                <select [(ngModel)]="mainclass1" class="col-6 form-control" (change)='OnChangeMainClass(mainclass1)'>
                    <option *ngFor="let c of mainclasses1" [value]="c.id">{{c.Name}}</option>
                </select>
                <app-imap [data]='data_map1' [dataconfig]='dataconfig' [selectedDataConfig]='selectedDataConfig'
                    [aimags]='aimags' (selectedAimag)='onSelectAimag($event)'></app-imap>
            </div>
            <div class="col-6">
                <h5>Ажил хайж буй иргэд</h5>
                <select [(ngModel)]="mainclass2" class="col-6 form-control" (change)='OnChangeMainClass(mainclass2)'>
                    <option *ngFor="let c of mainclasses2" [value]="c.id">{{c.Name}}</option>
                </select>
                <app-imap [data]='data_map2' [dataconfig]='dataconfig' [selectedDataConfig]='selectedDataConfig'
                    [aimags]='aimags' (selectedAimag)='onSelectAimag($event)'></app-imap>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div [chart]="BarChart"></div>
            </div>
            <div class="col-6">
                <!-- <div [chart]="BarChart"></div> -->
            </div>
        </div>
    </div>
</div>