<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-6">
          <h5>Ажлын шинэ байранд орсон иргэн</h5>
        <app-imap [data]='data_map1' [dataconfig]='dataconfig' [selectedDataConfig]='selectedDataConfig' [aimags]='aimags'
          (selectedAimag)='onSelectAimag($event)'></app-imap>
        <select [(ngModel)]="mainclass1" class="col-6 form-control">
          <option *ngFor="let c of mainclasses1" [value]="c.id">{{c.Name}}</option>
        </select>
      </div>
      <div class="col-6">
            <h5>Ажил хайж буй иргэд</h5>
        <app-imap [data]='data_map2' [dataconfig]='dataconfig' [selectedDataConfig]='selectedDataConfig' [aimags]='aimags'
          (selectedAimag)='onSelectAimag($event)'></app-imap>
        <select [(ngModel)]="mainclass2" class="col-6 form-control">
          <option *ngFor="let c of mainclasses2" [value]="c.id">{{c.Name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-ibar [series_name]='data_bar1[0]' [data]='data_bar1[1]'></app-ibar>
      </div>
      <div class="col-6">
        <app-ibar></app-ibar>
      </div>
    </div>
  </div>
</div>
