<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">
          Ажлын шинэ байранд орсон иргэн
          <span class="float-right">
            <a id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="btn-circle-label">
                <i class="icon ion-ios-more"></i>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" *ngFor='let c of mainclasses' (click)='OnChangeMainClass(c.id)'>
                <i class="icon ion-ios-checkmark" style="color: green" *ngIf='c.id==mainclass'></i>{{c.Name}}</a>
            </div>
          </span>
        </div>
        <div class="content-body">
          <div class="row">
            <div class="col-md-6">
              <app-imap [data]='data_map' [dataconfig]='dataconfig' [selectedDataConfig]='selectedDataConfig' [aimags]='aimags'
                (selectedAimag)='onSelectAimag($event)'></app-imap>
              <div *ngIf='data_barBySex!=undefined'>
                <i class="icon ion-man" style="color: blue;font-size: 30pt;">{{data_barBySex[0].dun}}</i>
                <br>
                <i class="icon ion-woman" style="color: blueviolet;font-size: 30pt;">{{data_barBySex[1].dun}}</i>
              </div>
            </div>
            <div class="col-md-6">
              <div [chart]="BarChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
